<h1 class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Edit Article</h1>
<%= render "form", article: @article %>
<br>
<div class="m-auto block max-w-lg p-6 pt-0">
  <%= link_to "Back to articles", articles_path, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
</div>
