<% if @user.image %>
  <div class="w-32 h-32 mx-auto text-center bg-center bg-cover border-2 border-blue-700 rounded-full shadow-lg shadow-blue-500/50" style="background-image: url(<%= @user.image %>)">
  </div>
<% end %>
