<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-center text-gray-900 md:text-5xl lg:text-6xl">Create new Category</h1>
<p class="mb-6 text-lg font-normal text-center text-gray-500 lg:text-xl sm:px-16">Here you can create articles categories for articles sorting</p>
<%= render 'form' %>
<br>
<%= link_to "Back", :back, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
