<div class="flex justify-between">
  <%= link_to_prev_page articles, 'Prev Page', class: "rounded-full border  border-blue-600 py-3 px-6 w-32 text-center text-blue-600 hover:text-white hover:bg-blue-600" %>
  <%= link_to_next_page articles, 'Next Page', class: "rounded-full border border-blue-600 py-3 px-6 w-32 text-center text-blue-600 hover:text-white hover:bg-blue-600 ml-auto" %>
</div>
